body {
  margin: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  image-rendering: pixelated; /* evita borrões em pixel art */
  width: 100%;
  height: 100%;
}
